html {
	font-size: 1px;
	@include tablet {
		font-size: 0.9px;
	  }
	  @include mobile {
		font-size: 0.8px;
	  }
}

body {
	font-family: var(--font-family);
	background: var(--bg-color);
	color: var(--c-text-white);
	font-size: 16rem;
}

.container {
	max-width: 1170rem + 40rem;
	padding: 0 20rem;
	margin-inline: auto;
}

.text-center {
	text-align: center;
}

.btn {
	display: inline-block;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-family: var(--font-family);
}


