.welcome {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-bottom: 61rem;
  @include tablet {
    flex-direction: column-reverse;
  }

  &__title {
    font-weight: 700;
    font-size: 58rem;
    line-height: 145%;
    letter-spacing: 0.02em;
    background: var(--bg-radient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--text-shadow);
    margin-bottom: 39rem;
    @include mobile {
      font-size: 40rem;
      margin-bottom: 20rem;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 15rem;
    line-height: 200%;
    color: rgba(229, 231, 235, 0.8);
    text-shadow: var(--text-shadow);
    margin-bottom: 21rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 29rem;
  }

  &__join {
    background: var(--bg-gradient);
    border-radius: 6rem;
    padding: 20rem 40rem;
    font-weight: 500;
    font-size: 16rem;
    color: var(--c-secondary);
  }

  &__watch {
    display: inline-flex;
    align-items: center;
    gap: 29rem;

    font-weight: 500;
    font-size: 16rem;
    color: var(--c-secondary);
    transition: var(--transition);
    &:hover {
      transform: scale(1.1);
    }
  }

  &__img {
    max-width: 623rem;
    flex-shrink: 0;
  }
}
